<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="SalaryRegistersUralsib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="pressF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="pressF.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database1.mdb"
            providerName="System.Data.OleDb" />
        <add name="SalaryRegistersUralsib.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        
        <SalaryRegistersUralsib.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value>81ED428FA4475FCA3961F967F2DC2C1C</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>551EF627CFBB37B528A8EC686E3BC75F</value>
            </setting>
            <setting name="Setting1" serializeAs="String">
                <value>Настройка1</value>
            </setting>
        </SalaryRegistersUralsib.Properties.Settings>
        <pressF.Properties.Settings>
            <setting name="Login" serializeAs="String">
                <value>81ED428FA4475FCA3961F967F2DC2C1C</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>551EF627CFBB37B528A8EC686E3BC75F</value>
            </setting>
        </pressF.Properties.Settings>
    </userSettings>
</configuration>